.statistics {

  background-color: white;
  border-radius: 5px;
  box-shadow: 0px 0px 3px 1px rgba(97, 97, 97, 1);
  overflow: hidden;
}

.statList {
  display: flex;
  color: white;
}

.item {
  display: flex;
  flex-direction: column;
  background-color: rgb(248, 241, 241);
  width: 100px;
  height: 100px;
  align-items: center;
  justify-content: center;
  outline: 1px solid gray;
  transition: all 200ms linear;
}

.label {
    color: white;
}

